* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

/* Counter  */
#count {
  background-color: #189a46;
  padding: 3rem 0;
}

#count p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
}

#count h1 {
  font-size: 3.1rem;
  font-weight: 600;
}

/* Our plans  */
#ourplans {
  background-color: #f9f7fe;
  padding: 5rem;
}

#ourplans .row {
  align-items: center;
}

#ourplans .col-md-4 {
  padding: 0;
}

#ourplans .title {
  padding-bottom: 2rem;
}

#ourplans .title h3 {
  color: #f53626;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

#ourplans .title h1 {
  color: #000c04;
  font-size: 2.5rem;
  font-weight: 600;
}

#ourplans .ourplans__item {
  padding: 4rem 1.5rem;
  background-color: white;
  border-radius: 5px;
}

#ourplans .item__top {
  padding-bottom: 1rem;
}

#ourplans .item__top h2 {
  color: #000c04;
  font-size: 1.6rem;
  font-weight: 600;
}

#ourplans .item__top p {
  color: #999;
}

#ourplans .item__top span {
  color: #189A46;
  font-size: 2.5rem;
  font-weight: 600;
}

#ourplans .item__top sup {
  font-size: 1.6rem;
}

#ourplans .item__bottom p {
  font-size: 1.1rem;
  color: #696969;
}

#ourplans button {
  font-size: 1.1rem;
  background-color: #189A46;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all .6s;
  margin-top: 1rem;
}

#ourplans button:hover {
  background-color: #116E32;
}

#ourplans button:focus {
  outline: none;
  background-color: #116E32;
  box-shadow: 0 0 0 0.2rem rgb(15 162 67 / 65%);
}


/* Ourplans__item mid  */

.ourplans__item__mid {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding-bottom: 4rem;
  background-color: white;
}

.ourplans__item__mid .item__top {
  padding-top: 3rem;
  background-color: #189A46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.ourplans__item__mid .item__top h2 {
  color: white !important;
}

.ourplans__item__mid .item__top p {
  color: white !important;
}

.ourplans__item__mid .item__top span {
  color: white !important;
}

.ourplans__item__mid h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #189A46;
  background-color: white;
  display: inline-block;
  padding: .5rem 1.2rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;

}

.ourplans__item__mid .item__bottom {
  padding: 2.5rem 0 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Nutrition  */
#nutrition {
  padding: 6rem 0;
}

#nutrition .nutrition__title {
  width: 86%;
  margin: 0 auto;
}

#nutrition .nutrition__title h5 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f53626;
}

#nutrition .nutrition__title h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

#nutrition .nutrition__title p {
  color: #696969;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

#nutrition .nutrition__content {
  width: 86%;
  margin: 0 auto;
}

.nutrition__content {
  position: relative;
}

.nutrition__content img {
  width: 100%;
  border-radius: 10px;
}

.nutrition__content a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.nutrition__content i {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  color: #189A46;
  transition: all 0.5s;
  animation: ripple 1s linear infinite;

}

.nutrition__content i:hover {
  transform: scale(1.1);
}

/* Testimonial  */
#testimonial {
  background-color: #f9f7fe;
  padding: 5rem 0;
}

#testimonial .testimonial__title {
  width: 86%;
  margin: 0 auto;
}

#testimonial .testimonial__title h5 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f53626;
}

#testimonial .testimonial__title h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.testimonial__client {
  display: flex;
  align-items: center;
}

.testimonial__item {
  background-color: #fff;
  padding: 2.5rem 1.9rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.testimonial__item p {
  font-size: 1.3rem;
  color: #696969;
  font-weight: 400;
}

.testimonial__item span {
  font-family: serif;
  font-size: 3.1rem;
  font-weight: 600;
  color: #189A46;
  line-height: 50px;
}

.testimonial__client .client__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.testimonial__client img {
  width: 100%;
}

.testimonial__client .client__text h3 {
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.testimonial__client .client__text p {
  margin-bottom: 0;
  color: #777;
  opacity: 0.8;
  font-size: 1rem;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 3rem;
}

.owl-dots button {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189A46;
  width: 30px;
  height: 10px;
}


/* Subscribe  */
#subscribe {
  padding: 5rem 0;
}

#subscribe .title h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#subscribe .title p {
  font-size: 1.2rem;
  color: #696969;
}

.subscribe__item {
  justify-content: center;
}

.subscribe__item input {
  width: 33rem;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  border: 1px solid #ced4da;
  margin-right: 2rem;
}

.subscribe__item input:focus {
  border: 1px solid #189a46;
  outline: none;
}

.subscribe__item button {
  width: 10rem;
  border-radius: 10px;
  border: none;
  background-color: #189a46;
  color: white;
  font-size: 1.1rem;
  padding: 1rem 1.2rem;
  transition: all 0.6s;
}

.subscribe__item button:hover {
  background-color: #116E32;
}

.subscribe__item button:focus {
  outline: none;
  background-color: #116E32;
  box-shadow: 0 0 0 0.2rem rgb(15 162 67 / 65%);
}

/* Footer  */
footer {
  background-color: #111;
}

footer h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
}

.footer__contact p {
  color: #696969;
}

.contact__item i {
  font-size: 0.9rem;
  color: #696969;
  margin-right: 0.8rem;
}

.contact__item a:hover i {
  color: #fff;
}

footer a {
  color: #696969;
}

footer a:hover {
  color: #fff;
}

.footer__item li {
  list-style: none;
  margin-bottom: 0.6rem;
}

footer .footer__copyright {
  text-align: center;
  color: #696969;
  border-top: 1px solid #69696928;
}

footer .footer__copyright p {
  margin-bottom: 0;
}

footer .footer__copyright a {
  color: #f53626;
}

/* Back to top  */
.backtotop {
  background-color: #189a46;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  opacity: 0;
  transition: all .5s;
}

.backtotop:hover {
  color: #fff;
  text-decoration: none;
  transform: translateY(-5px);
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}









/* Ripple  */

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}